$backGroundColor: #efefef;
$fontColor: black;
$mediaMaxWidth: 768px;

.menu {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-130%);
  transition: all 0.2s;

  &.active {
    transform: translateX(0);
  }

  .blur {
    width: 80vw;
    height: 100vh;
    left: 40%;
    backdrop-filter: blur(2px);
    position: absolute;
  }

  .menu__content {
    width: 40%;
    height: 100%;
    background-color: $backGroundColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
  }

  .menu__header {
    font-size: 2rem;
    color: $fontColor;
    border-bottom: 1px solid $fontColor;
    width: 100%;
  }

  ul li a {
    color: $fontColor;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  ul li {
    display: flex;
    align-items: center;
  }

  ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: $mediaMaxWidth) {
    .menu__content {
      width: 100%;
    }


    .blur {
      backdrop-filter: none;
      transform: translateX(-140%);
    }
  }
}